<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>881805286357-9tqaca5qfqkiq9qe8geo8qjfnn4vt96g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.881805286357-9tqaca5qfqkiq9qe8geo8qjfnn4vt96g</string>
	<key>API_KEY</key>
	<string>AIzaSyBZW1tpabmjVtYVJAojsMqIzREdNRkCeN4</string>
	<key>GCM_SENDER_ID</key>
	<string>881805286357</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tiagohermano.Snapchat</string>
	<key>PROJECT_ID</key>
	<string>snapchat-4c4ef</string>
	<key>STORAGE_BUCKET</key>
	<string>snapchat-4c4ef.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:881805286357:ios:9032fb55a9e081a1</string>
	<key>DATABASE_URL</key>
	<string>https://snapchat-4c4ef.firebaseio.com</string>
</dict>
</plist>